{% extends 'base.html.twig' %}

{% block title %}user{% endblock %}

{% block body %}
    <h1>user</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for learner in learners %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.email }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No learners found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
